<div class="card">
  <div class="card-body">
    <div id="<%= dom_id category %>">
      <p>
        <strong>Name:</strong>
        <%= category.name %>
      </p>

      <p>
        <strong>Indentifier:</strong>
        <%= category.indentifier %>
      </p>
    </div>
  </div>

  <div class="card-footer">
    <%= link_to "Editar", edit_category_path(category), class: "btn btn-primary" %>
    <%= link_to "Excluir", category, data: { turbo_method: :delete, turbo_confirm: "Você tem certeza?" }, class: "btn btn-danger" %>
  </div>
</div>
